body.bodylogin {
  background: url(../img/fundo-login.jpg) no-repeat center fixed;
  background-size: cover;
  margin: 0;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; 
}

.container-login {
  background: var(--branco);
  width: 90%;
  max-width: 600px;
  height: auto;
  padding: 60px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
  position: relative;
  overflow: hidden;
}

.botoessuperiores {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 300px;
  height: 40px;
  background: #adacac;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.botaocor {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 40px;
  background: linear-gradient(to right, #d11818, #530606);
  border-radius: 30px;
  transition: left 0.3s ease;
  z-index: 0;
}

.botoessuperiores button {
  width: 48%;
  height: 40px;
  background: transparent;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  position: relative;
  font-size: 0.9em;
}

form.form {
  position: relative;
  width: 100%;
  padding: 20px 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

form.form.active {
  display: flex;
}

.form input {
  background-color: transparent;
  padding: 10px;
  width: 100%;
  border: var(--vermelho-uepb) 2px solid;
  border-radius: 6px;
  font-size: 0.95em;
  transition: border-color 0.3s ease;
}

.form input::placeholder {
  color: var(--cinza-escuro);
  font-size: 1em;
}

form button[type="submit"] {
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  width: 60%;
  max-width: 200px;
  height: 35px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--vermelho-uepb);
  color: var(--branco);
}

form button[type="submit"]:hover {
  background: transparent;
  color: var(--vermelho-uepb);
  transition: background-color 0.4s ease;
  border: var(--vermelho-uepb) 1px solid;
}

.titulologin,
.titulocriarconta {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--cinza-escuro);
}

.descrição {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: center;
  color: var(--cinza-escuro);
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}

.esqueceu {
  color: var(--vermelho-uepb);
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
}

.esqueceu:hover {
  text-decoration: underline;
}

.fotoebio{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.asidefoto{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  position: relative;
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
}

.selecionarimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.selecionarimg:hover{
  transform: scale(1.04);
}

.upload-label input[type="file"] {
  display: none;
}

.asidebio{
  width: 100%;
}

.asidebio textarea{
  width: 100%;
  height: 200px;
  resize: vertical;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  border: var(--vermelho-uepb) 2px solid;
  transition: border-color 0.3s ease;
}