/*Caracteristicas gerais*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background: url(../img/fundo-login.jpg) no-repeat center fixed;
  line-height: 1.6;
  overflow-x: hidden; 
}
:root {
  --vermelho-uepb: #a42929;
  --cinza-claro: #f5f5f5;
  --cinza-escuro: #333333;
  --branco: #ffffff;
  --cinza-hover: #aeaeae;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--vermelho-uepb);
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.icon-bar, .search {
  display: flex;
  gap: 18px; 
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.icon-bar input[type="text"] {
  display: flex;
  align-self: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
}
.container {
  display: flex;
  width: 1180px;
  margin: 40px auto;
  padding: 30px;
  background-color: var(--cinza-claro);
  border-radius: 16px;
  overflow-x: hidden;
  justify-content: center;
  align-items: flex-start;
}
span{
  color: var(--branco);
  font-weight: bold;
  font-size: 1.2em;
}
/*login*/

body.bodylogin {
  background: url(../img/fundo-login.jpg) no-repeat center fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login {
  background: var(--branco);
  width: 600px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
  position: relative;
  padding-top: 60px;
  overflow: hidden;
}

.botoessuperiores {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 40px;
  background: #adacac;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.botaocor {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 40px;
  background: linear-gradient(to right,#d11818, #530606);
  border-radius: 30px;
  transition: left 0.3s ease;
  z-index: 0;
}

.botoessuperiores button {
  width: 140px;
  height: 40px;
  background: transparent;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  position: relative;
  font-size: 14px;
}
form.form {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100% - 100px);
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

form.form.active {
  display: flex;
}
.form input {
  background-color: transparent;
  padding: 10px;
  width: 100%;
  border-bottom: var(--vermelho-uepb) 2px solid;
  border-radius: 6px;
  font-size: 0.95em;
  transition: border-color 0.3s ease;
}
.form input::placeholder{
  color: var(--cinza-escuro);
  font-size: 1em;
}
form button[type="submit"]
{
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  width: 200px;
  height: 30px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--vermelho-uepb);
  color: var(--branco);

}
form button[type="submit"]:hover {
  background: transparent;
  color: var(--vermelho-uepb);
  transition: background-color 0.4s ease;
  border: var(--vermelho-uepb) 1px solid;
}
.titulologin, .titulocriarconta {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--cinza-escuro);
}
.descrição{
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: center;
  color: var(--cinza-escuro);
} 
input[type="email"]:focus,
  input[type="password"]:focus, input[type="text"]:focus {
  outline: none;
  box-shadow: none;
  }

.esqueceu{
  color: var(--vermelho-uepb);
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
}
.esqueceu:hover{
  text-decoration: underline;
}
 /*tela principal*/

#conteudo{
  width: 810px;
  margin-top: 20px;
  margin-bottom: 20px;
}
article#campi{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 24px;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

.campus {
  text-align: center;
}

.campus img {
  width: 330px;
  height: 170px;
  object-fit: cover; 
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
}

.campus img:hover {
  transform: scale(1.05);
}

.campus p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #2c2c2c;
}

/*area lateral na tela principal*/

aside{
  margin-left: 30px;
  background-color: #ffffff;
  width: 240px;
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

aside#news:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
aside#news h3 {
  font-size: 20px;
  color: var(--vermelho-uepb);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--vermelho-uepb);
}
aside#news img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

aside#news img:hover {
  transform: scale(1.03);
}
aside#news h4 {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}
#news .noticia {
  background-color: var(--cinza-claro);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.noticia a.button {
  display: block;
  margin-top: 4px;
  margin-bottom: 8px;
  background-color: var(--vermelho-uepb);
  color: white;
  font-weight: 500;
  font-size: 0.85em;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 6px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

aside#news a.button:hover {
  background-color: #ffffff;
  color: var(--vermelho-uepb);
  border-bottom: var(--vermelho-uepb) 1px solid;
}
aside#news > div:not(:last-child) {
  margin-bottom: 20px; /* separa cada “notícia” */
}

/*comunidades*/

.comunidades-container {
  background-color: var(--cinza-claro);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
  border-radius: 16px;
}
.comunidades-indicadas,
.comunidades-visitadas {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.titulo-comunidades, #bemvindos {
  color: var(--cinza-escuro);
  padding: 20px;
  font-size: 17px;

  
}

.comunidades-em-linha {
  background: url(../img/fundo-login.jpg) no-repeat center top;
  display: flex;
  gap: 1.5em;
  padding: 10px 0 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);

}
.carrossel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.comunidades-em-linha {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  scroll-behavior: smooth;
  gap: 1.5em;
  padding: 20px 0;
}

.card-comunidade {
  flex: 0 0 auto;
  width: 280px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  text-align: center;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  font-size: 36px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.nav.left {
  left: 10px;
}

.nav.right {
  right: 10px;
}
.card-comunidade:hover {
  transform: scale(1.05);
}
.card-comunidade img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-comunidade h5 {
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
}

.btn-entrar:hover {
  background-color: #9e1e1e;
}


h3{
  color: #000000;
  font-size: 1.0em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
h4{
  color: #040404;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 0;
}
input {
  height: 20px;
  width: 80px;
  background: #fff;
  border: none;
  font-size: 1em;
}
input.campo{
  border: 1px solid #ada484;
}
input.botao{
  background: #9b9271;
  color: white;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
}
fieldset{
  border: none;  
}
legend{
  display: none;
}
footer{
  padding: 20px 0 30px 0;
  text-align: center;
  background: url(../img/fundo-rodape.png) no-repeat center top;
}
footer>p a{
  padding: 2px 10px;
}