/*Caracteristicas gerais*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background: url(../img/fundo-login.jpg);
  line-height: 1.6;
  overflow-x: hidden; 
}
:root {
  --vermelho-uepb: #a42929;
  --cinza-claro: #f5f5f5;
  --cinza-escuro: #333333;
  --branco: #ffffff;
  --cinza-hover: #aeaeae;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--vermelho-uepb);
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.barrapesquisa{
  display: flex;
  margin: auto;
  gap: 5px;
}

.pesquisar{
  width: 300px;
  padding: 10px;
  height: 25px;
  border-radius: 20px;
  border: none;
}

.botaolupa{
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.botaolupa:hover{
  transform: scale(1.06);
}

.lupa{
  width: 25px;
  height: 25px;
}

.icon-bar  {
  display: flex;
  gap: 18px; 
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.icon-bar input[type="text"] {
  display: flex;
  align-self: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
}
#sininho{
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  color: #fff;
}
.container {
  display: flex;
  width: 1180px;
  margin: 40px auto;
  padding: 30px;
  background-color: var(--branco);
  border-radius: 16px;
  overflow-x: hidden;
  justify-content: center;
  align-items: flex-start;
}
span{
  color: var(--branco);
  font-weight: bold;
  font-size: 1.2em;
}